    body {
        font-family: arial,sans-serif;
    }

    nav {
        min-height: 65px;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    .nav-left, .nav-right{
        min-height: 65px;
        display: flex;
        align-items: center;
    }

    .nav-left .nav-link {
        margin-left: 15px;
    }

    .nav-right .nav-link {
        margin-right: 15px;
        opacity: 0.85 !important;

    }

    .nav-right .nav-link:hover {
        opacity: 0.75 !important;

    }

    .nav-left li {
        font-size: 16px !important;
    }

    .nav-link {
        text-decoration: none;
        font-size: 13px;
        color: #000;
        opacity: 0.75;
    }

    .nav-link:hover {
        border-bottom: 1px solid black;
        opacity: 0.75;
    }

    #sign-in {
        display: block;
        border: 1px solid #4285f4;
        color: #fff;
        font-weight: 500;
        outline: none;
        padding: 7px 12px;
        margin-right: 10px;
        background-color: #125dd4;
        border-radius: 2px;
        width: 5;
    }


   #main {
        position: absolute;
        width: 100%;
        height: 500px;

    }

    .logo-container {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        height: 233px;
        margin-top: 89px;

    }

    #logo {
        user-select: ;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }

    .search-container {
        height: 118px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


   #search {
        border: none;
        border: 1px solid #dfe1e5;
        width: 482px;
        border-radius: 100px;
        margin: 0;
        padding: 0;
        color: rgba(0,0,0,.87);
        outline: none;
        margin-top: -37px;
        height: 45px;
        line-height: 34px;
        font: 16px arial,sans-serif;
   }

   .button-container {
    padding-top: 18px;
   }

   .button-container button {
    border: none;
    outline: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    color: #5F6368;
    height: 36px;
    cursor: pointer;
    user-select: none;
}

footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-left a {
    margin-left: 27px;
}

.footer-right a {
    margin-right: 27px;
}

.footer-link {
    color: #5f6368;
    text-decoration: none;
    font-size: 14px;
}
